@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url("../../assets/images/bg.jpeg");
    height: 100vh;
    background-color: hsl(0, 0%, 21%);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.modal-content{
    height: 100vh;
}
.answers {
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
}

.main {
    border: 1px solid #fff;
}

#options {
    margin: 0 auto;
    background-color: rgba(100, 100, 250, 0.5)
}

button {
    background-color: rgba(250, 250, 250, 1);
}

button:hover {
    background-color: rgba(250, 250, 250, .70);
}

h3 {
    font-size: 40px;
    border-bottom: 1px solid #fff;
}

output {
    font-size: 22px;
    margin: 10px;
}

h4 {
    font-size: 25px;
}
