@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
body{
    background-image: url("/assets/images/bg.jpeg");
    height: 100vh;
    background-color: hsl(0, 0%, 21%);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}